.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}

.exterior-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px red solid;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.middle-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px green solid;
    width: 60%;
    height: 55%;
    box-sizing: border-box;
}

.interior-box {
    border: 10px blue solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    box-sizing: border-box;
}

.interior-box > button {
    border: 4px purple solid;
    box-sizing: border-box;
    grid-column: 2;
    grid-row: 2 / 3;
}

.box-1 {
    border: 4px orangered solid;
    grid-column: 1 / 4;
    grid-row: 1;
}

.box-2 {
    border: 4px darkred solid;
    grid-column: 1;
    grid-row: 2 / 3;
}

.box-3 {
    border: 4px palevioletred solid;
    grid-column: 3;
    grid-row: 2 / 3;
}

.box-4 {
    border: 4px black solid;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
